{# @var admin \Prognoz\AdminBundle\Admin\TournamentAdmin #}
{% set property = admin.route('move').requirement('property') %}

{% if attribute(object, property) > 0 %}
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('move', object, {'move': 'top', 'property': property}) }}" title="{{ 'move.top'|trans }}"><i class="glyphicon glyphicon-step-backward"></i></a>
{% endif %}

{% if attribute(object, property) > 0 %}
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('move', object, {'move': 'up', 'property': property}) }}" title="{{ 'move.up'|trans }}"><i class="glyphicon glyphicon-arrow-up"></i></a>
{% endif %}

{% if attribute(object, property) < admin.getPositionService.getLastPosition(admin.getClass, property) %}
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('move', object, {'move': 'down', 'property': property}) }}" title="{{ 'move.down'|trans }}"><i class="glyphicon glyphicon-arrow-down"></i></a>
{% endif %}

{% if attribute(object, property) < admin.getPositionService.getLastPosition(admin.getClass, property) %}
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('move', object, {'move': 'bottom', 'property': property}) }}" title="{{ 'move.bottom'|trans }}"><i class="glyphicon glyphicon-step-forward"></i></a>
{% endif %}
